@charset "UTF-8";

*{margin: 0;padding: 0;}

body{
    background-color: #212835;
    font-style: 15px;
}

.video_wrap{
    width: 1400px;
    margin: 0 auto;
    height: 100vh;
}
.main_container{
    padding: 25px;
}
.trends{
    display: flex;
    justify-content: flex-end;
    /* 
    flex: block level element
    display: flext한 다음 웹페이지개발자 모드 들어가서 위치 수정하기~ */

}
.trends #play-all{
    display: flex;
    align-items: center;
    background-color: #fa3a2f;
    color: #fff;
    height: 9;
    padding: 10px 30px;
    border-radius: 30px;
}
/* i,em의 클래스명을 부르는 것이 아니라 i,em으로 부른다 */

.trends #play-all i{
    margin-right: 16px;

} 
.trends #play-all i.fa-play{
    display: none;
} 
.trends #play-all.on i.fa-play{
    display: block;
}

.trends #play-all i.fa-pause{
    display: block;
}
.trends #play-all.on i.fa-pause{
    display: none;
}

.trends #play-all em{font-style: normal;}

/* vidieos */
.videos{
    display: flex;/* float:left는 밑으로 떨어진다
    하지만 flex는 자식이 넘치든 말든 옆으로 세운다 */
    flex-wrap:wrap;
    /* video(자식)이 넘치는 부분이 있으면 밑으로 떨어뜨려랴라는 뜻 */
}
.videos .video{
    width: 23%; margin: 1%;/* margin 비율의 기준은 부모의 크기 */
    padding-top: 9%;
    position: relative;
    overflow: hidden;
}
.videos .video .video-time{
    position: absolute;
    right: 6px;top: 65px;
    color: #fff;
    background:rgba(0, 0,0, 0.5);
    padding: 8px;
    border-radius: 15px;
    font-size: 12px;
    transition: 0.3s;
}
.videos .video:hover .video-time{
    opacity: 0;
}

.videos .video video{
    width: 100%;/* 부모의 크기(W23%)에 맞추겠다 */
    position: absolute;
    left: 0;top: 0;
    transition: 0.5s;
    
}
.videos .video:hover video{
    transform: scale(1.7);
    transform-origin: center top;
    /* transform-origin: X Y; 비디오 커지는 지점 기준점을 잡을 때 사용 */
    z-index: 30;
}

.videos .video .video-content{
    background-color: #fff;
    color:#808080;
    padding:15px 10px 0;
    z-index:20; /* position이 없으면 z-index도 안 먹힘 */
    position:relative;
}
.videos .video .video-content .view{
    background: #fff;
    padding: 10px;
    font-size: 13px;
    z-index:20; /* position이 없으면 z-index도 안 먹힘 */
    position:relative;
}




